.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color:rgb(71, 85, 105);;
    border-radius: 10px;
    z-index: 1001;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(29, 41, 61);
    font-size: 32px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.modal-header-close {
    position: absolute;
    font-size: 24px;
    right: 20px;
    font-weight: semibold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-header-close:hover {
    color: lightgray;
}

.modal-content {
    padding: 20px;
}

.modal-content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: semibold;
    margin-bottom: 20px;
}

.modal-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
}

.modal-footer-cancel {
    background-color: rgb(220, 38, 38);
    color: white;
    border: none;
    font-weight: semibold;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.modal-footer-cancel:hover {
    background-color: rgb(200, 32, 32);
}
